@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

/* .homeMain {

} */

.homeHero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/hero1.jpg);
  width: 100%;
  height: 800px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 30px;
  color: white;
}

.homeHero p {
  padding: 0px 500px;
}

.homeMain h3 {
font-family: 'Yellowtail', cursive;
color: #000;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}

.content-head {
  justify-content: space-between;
  display: flex;
  padding: 20px 100px;
}

.content-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 180px;
}

.pic1 {
  margin: 10px 10px 5px 10px;
  width: 400px;
  border: 1px solid gray;
  padding: 10px;
  box-sizing: border-box;
}

.pic1 img {
  width: 100%;
}

.btnhome {
  color: white;
  background-color: orange;
  border-style: none;
  width: 150px;
  cursor: pointer;
}

.descbot {
  font-size: 20px;
  margin: 10px 100px;
}

@media screen and (max-width: 600px) {
  .homeHero {
    height: 600px; /* Adjust the height for smaller screens */
  }

  .homeHero p {
    padding: 0 10px; /* Adjust padding for smaller screens */
  }

  .homeMain h3 {
    font-size: 24px; /* Adjust font size for smaller screens */
  }

  .content-container {
    gap: 10px; /* Adjust the gap between items for smaller screens */
  }

  .btnhome {
    width: 100%; /* Make the button full width on smaller screens */
  }

  .descbot {
    margin: 10px; /* Adjust margin for smaller screens */
  }
}